/* Added user-select code to prevent highlighting on double-click*/

#new_movement_dialog {
	text-align: center;
	-webkit-user-select: none;
}

.ui-dialog-buttonpane {
	-webkit-user-select: none;
}

.ui-dialog {
	-webkit-user-select: none;
}

#new_movement_dialog textarea {
	width: 99%;
	resize:none;
}


.movement_dialog_header {
	width:100%;
	height:50px;
	background-color: white;
}

.movement_dialog_image {
	width:100%;
	height:150px;
	border:none;
	background-color: white;
}

.movement_dialog_image_description_container{
	width:100%;
	height:30px;
	background-color: white;	
}

.movement_dialog_image_description_one{
	width:100%;
	height:30px;
	line-height:30px;
	font-size:20px;
	background-color: lightgreen;
	float: left;	
}
.movement_dialog_image_description_two{
	width:50%;
	height:30px;
	line-height:30px;
	font-size:20px;
	background-color: lightgreen;
	float: left;	
}
.movement_dialog_image_description_three{
	width:33%;
	height:30px;
	line-height:30px;
	font-size:20px;
	background-color: lightgreen;
	float: left;	
}


.movement_dialog_score_boxes {
	width:100%;
	height:95px;	
	background-color: blue;
	float: left;
	-webkit-user-select: none;
}

.movement-rating_pre_box_two_wide {
  float: left;
  width: 50px;
  height: 70px;
  line-height: 70px;
  font-size: 36px;
  font-family: Verdana, Geneva, sans-serif;
  -webkit-text-size-adjust: none;
  margin-top: 10px;
  margin-left: 97px;
  margin-bottom: 10px;
  border-style:solid;
  border-top-width:2px;
  border-bottom-width:2px;
  border-left-width:2px;
  border-right-width:1px;
  border-color:black;
  color:black;
  background-color:white;
  font-weight: bold;
}

.movement-rating_post_box_two_wide {
  float: left;
  width: 50px;
  height: 70px;
  line-height: 70px;
  font-size: 36px;
  font-family: Verdana, Geneva, sans-serif;
  -webkit-text-size-adjust: none;
  margin-top: 10px;
  margin-right: 97px;
  margin-bottom: 10px;
  border-style:solid;
  border-top-width:2px;
  border-bottom-width:2px;
  border-right-width:2px;
  border-left-width:1px;
  border-color:black;
  color:black;
  background-color:white;
  font-weight: bold;
}


.movement-rating_pre_box_single {
  float: left;
  width: 50px;
  height: 70px;
  line-height: 70px;
  font-size: 36px;
  font-family: Verdana, Geneva, sans-serif;
  -webkit-text-size-adjust: none;
  margin-top: 10px;
  margin-left: 247px;
  margin-bottom: 10px;
  border-style:solid;
  border-top-width:2px;
  border-bottom-width:2px;
  border-left-width:2px;
  border-right-width:1px;
  border-color:black;
  color:black;
  background-color:white;
  font-weight: bold;
}

.movement-rating_post_box_single {
  float: left;
  width: 50px;
  height: 70px;
  line-height: 70px;
  font-size: 36px;
  font-family: Verdana, Geneva, sans-serif;
  -webkit-text-size-adjust: none;
  margin-top: 10px;
  margin-right: 247px;
  margin-bottom: 10px;
  border-style:solid;
  border-top-width:2px;
  border-bottom-width:2px;
  border-right-width:2px;
  border-left-width:1px;
  border-color:black;
  color:black;
  background-color:white;
  font-weight: bold;
}


.movement-rating_pre_box_three_wide {
  float: left;
  width: 50px;
  height: 70px;
  line-height: 70px;
  font-size: 36px;
  font-family: Verdana, Geneva, sans-serif;
  -webkit-text-size-adjust: none;
  margin-top: 10px;
  margin-left: 47px;
  margin-bottom: 10px;
  border-style:solid;
  border-top-width:2px;
  border-bottom-width:2px;
  border-left-width:2px;
  border-right-width:1px;
  border-color:black;
  color:black;
  background-color:white;
  font-weight: bold;
}

.movement-rating_post_box_three_wide {
  float: left;
  width: 50px;
  height: 70px;
  line-height: 70px;
  font-size: 36px;
  font-family: Verdana, Geneva, sans-serif;
  -webkit-text-size-adjust: none;
  margin-top: 10px;
  margin-right: 47px;
  margin-bottom: 10px;
  border-style:solid;
  border-top-width:2px;
  border-bottom-width:2px;
  border-right-width:2px;
  border-left-width:1px;
  border-color:black;
  color:black;
  background-color:white;
  font-weight: bold;
}



.movement_dialog_notes_box {
	width:100%;
	height:75px;	
	background-color: white;
}
