

/* form 1 */
	.patient_info_header{
		display:block;
		text-align:center;
		width:660px;
		font-weight:bold;
  		font-size:24px;
  		line-height:1;
	}
	.form_container{
		display:block;
		width:660px;
	}
	#form1{
		margin:12px 0;
		}
	#form1 img{
		width:160px;
		height:200px;
		border:none;
		}
	#form1 fieldset{
		margin:0 5px;
		padding:0;
		border:none;	
		float:left;
		display:inline;
		width:230px;
		}		
	#form1 fieldset.image_fieldset{
		margin:0 5px;
		padding:0;
		border:none;	
		float:left;
		display:inline;
		width:170px;
		}			
	#form1 fieldset.large_fieldset{
		margin:0 5px;
		padding:0;
		border:none;	
		float:left;
		display:inline;
		width:650px;
		}			
	#form1 p{
		margin:.5em 0;
		}	
	#form1 label{
		display:block;
		}	
	#form1 input[type=text]{		
		width:222px;
		border:1px solid #ddd;
		background:#fff url(../images/form1/form_input.gif) repeat-x;
		padding:3px;
		display:inline;
		}								
	#form1 input.large_input, #form1 textarea{ 
		width:642px;
		border:1px solid #ddd;
		background:#fff url(../images/form1/form_input.gif) repeat-x;
		padding:3px;
		display:inline;
		resize: none;
		}
	#form1 input[type=radio], input.radio { 
		display:inline;
		margin: 10px 30px 0 5px; 
		}			
	#form1 label.radio_label { 
		display:inline; 
		padding: 10px 0px 0px 0px; 
		}

/* // form 1 */