

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables features
 */

.dataTables_wrapper {
	position: relative;
	clear: both;
	zoom: 1; /* Feeling sorry for IE */
}

.dataTables_length {
	width: 40%;
	float: left;
}

.dataTables_filter {
	width: 50%;
	float: right;
	text-align: right;
    font-family: HelveticaNeue, HelveticaNeue-Light, Cabin-Medium;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 10px;
}

.dataTables_filter input {
	height: 40px;
    font-size: 24px;
    
}

.dataTables_info {
	width: 60%;
	float: left;
    text-align: left;
    font-size: 24px;
    margin-top: 15px;
    font-family: HelveticaNeue-Light, HelveticaNeue, Cabin-Medium;
    padding-left: 40px;
    
}

.dataTables_paginate {
	float: right;
    margin-top: 3px;
}


/* Pagination nested */

.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
    width: 65px;
    height: 50px;	
    float: left;
	cursor: pointer;
    background-size: contain;
}

.paginate_disabled_previous:hover, .paginate_enabled_previous:hover, .paginate_disabled_next:hover, .paginate_enabled_next:hover {
	text-decoration: none !important;
}

.paginate_disabled_previous:active, .paginate_enabled_previous:active, .paginate_disabled_next:active, .paginate_enabled_next:active {
	outline: none;
}

.paginate_disabled_previous, .paginate_enabled_previous {
	padding-left: 23px;
}

.paginate_disabled_next, .paginate_enabled_next {
	padding-right: 23px;
	margin-left: 10px;
}

.paginate_disabled_previous {
	background: url('../images/datatables/back_disabled.png') no-repeat top left;
    opacity: .5;
}

.paginate_enabled_previous {
	background: url('../images/datatables/back_enabled.png') no-repeat top left;
}

.paginate_disabled_next {
	background: url('../images/datatables/forward_disabled.png') no-repeat top right;
    opacity: .5;
}

.paginate_enabled_next {
	background: url('../images/datatables/forward_enabled.png') no-repeat top right;
}




/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables display
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

table.display {
	margin: 0 auto;
	clear: both;
	width: 100%;
}

table.display thead th {
	padding: 3px 18px 3px 10px;
	border-bottom: 1px solid black;
	font-weight: bold;
    font-size: 16px;
	cursor: pointer;
	* cursor: hand;
}

table.display tbody tr { 
    height: 70px; 
    font-size: 28px; 
    font-family: HelveticaNeue-Light, HelveticaNeue, Cabin-Medium;
    padding-left: 40px;
    line-height: 67px;
}

table.display thead tr {
    height: 20px;
}

table.display tfoot th {
	padding: 3px 18px 3px 10px;
	border-top: 1px solid black;
	font-weight: bold;
}

table.display tr.heading2 td {
	border-bottom: 1px solid #aaa;
}

table.display td {
	padding: 3px 10px;
}

table.display td.center {
	text-align: center;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables row classes -- KEEP THESE!!!!!!
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
 
tr.odd {
    background-color: #9f9a79;
}

tr.even {
	background-color: #504d3b;
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Misc
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
 
.dataTables_scroll {
	clear: both;
}

.dataTables_scrollBody {
	*margin-top: -1px;
	-webkit-overflow-scrolling: touch;
}

.top, .bottom {
	padding: 15px;
	background-color: black;
	border: 1px solid #CCCCCC;
}

.top .dataTables_info {
	float: none;
}

.clear {
	clear: both;
}

.dataTables_empty {
	text-align: center;
}

tfoot input {
	margin: 0.5em 0;
	width: 100%;
	color: #444;
}

tfoot input.search_init {
	color: #999;
}


