.dialog_header {
    height: 25px;
    line-height: 25px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    font-family: HelveticaNeue;
}

#first_time_patient, #sheet_patient_info {
    display:block;
    width:747px;
    margin-left: 21px;
    text-align: left;
}

.form_container {
    margin:12px 15px;
}

.form_container fieldset {
    margin:0 5px;
    padding:0;
    border:none;	
    float:left;
    display:inline;
    width: 230px;
}	

.form_container fieldset.left_fieldset {
    width:222px;
}

.form_container .right_fieldset {
    width:304px;
}

.form_container fieldset.image_fieldset {
    width:170px;
    height:210px;
}

.form_container img {
    width:160px;
    height:200px;
    background-color: #FF0000;
    border:1px solid #EEEEEE;
    border-radius: 5px;
    margin-top: .5em;
}	

			
.form_container fieldset.large_fieldset {
    margin:0 5px;
    padding:0;
    border:none;	
    float:left;
    display:inline;
    width:724px;
}	
		
.form_container p {
    margin: .4em 0;
}	

.form_container label {
    display:inline;
    font-size: 18px;
    font-family: HelveticaNeue;
    text-align: left;
}	

.form_container input, .form_container textarea {
    font-size: 24px;
    font-family: HelveticaNeue;
    color: #FF0000;
}

.form_container input {
    height: 32px;
}

.form_container input.first_name, .form_container input.DOB {		
    width:222px;
    border:1px solid #EEEEEE;
    padding:3px;
    display:inline;
}	
							
.form_container input.last_name {		
    width:304px;
    border:1px solid #EEEEEE;
    padding:3px;
    display:inline;
}

.form_container input.email {
    width:544px;
    border:1px solid #EEEEEE;
    padding:3px;
    display:inline;
    resize: none;
}

.form_container input.large_input, .form_container textarea { 
    width:724px;
    border:1px solid #EEEEEE;
    padding:3px;
    display:inline;
    resize: none;
}

#labelset, #sheet_labelset {
    width: 304px;
    height: 32px;
    text-align: right;
    background-color: #FF0000;
    border:1px solid #EEEEEE;
    border-radius: 5px;
    margin: 0px;
    padding: 3px;
}

#labelset .radio_label, #sheet_labelset .radio_label { 
    float: left;
    display:inline;
    height:42px;
    width:75px;
    padding-bottom: 0px;
    margin: 0px 0px 0px 20px;
    line-height: 32px;
    font-size: 20px;
    font-family: HelveticaNeue;
    text-align: right;
    color: #FF0000;
}

#male, #female, #sheet_male, #sheet_female {
    float: left;
    height: 26px;
    width: 26px;
    display:inline;
    margin: 0px 15px 0px 5px; 
}

#new_patient_back_button, #sheet_new_patient_back_button {
    float: left;
    width: 230px;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    font-family: HelveticaNeue;
    text-align: center;
    color: #FFFFFF;
    background-color: #9F9A79;
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    margin-left: 6px;
    margin-top: 10px;
}

#new_patient_continue_button, #sheet_new_patient_continue_button {
    float: right;
    height: 50px;
    width: 230px;
    color: #EEEEEE;
    background-color: #9F9A79;
    font-size: 24px;
    line-height: 50px;
    font-family: HelveticaNeue;
    text-align: center;
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 10px;
}